.item-container {
  display: flex;
  margin: auto;
  padding: 20px;
  flex-wrap: wrap;
  width: 85vw;
  margin-bottom: 10px;
  border: 1px solid rgb(211, 208, 208);
  justify-content: space-between;
}

.book-details {
  flex: 0.4;
  overflow-wrap: break-word;
}

.book-title {
  font-size: 18px;
  font-weight: 900;
}

.genre {
  font-size: 14px;
  font-weight: 700;
  color: rgb(161, 156, 156);
}

.author {
  color: #6495ed;
}

.action {
  display: flex;
  width: 13rem;
  justify-content: space-between;
}

.remove {
  border-left: 1px solid #6495ed;
  border-right: 1px solid #6495ed;
  padding: 0 7px;
}

.book-details > div {
  margin: 5px 0;
}

.middle-progress {
  display: flex;
  flex: 0.2;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 32px;
  color: rgb(66, 63, 63);
}

.complete {
  font-size: 14px;
  color: rgb(131, 129, 129);
}

.icon-percent {
  color: #6495ed;
}

.progress {
  margin: 5px 0;
  display: flex;
  flex: 0.3;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

.btn-progress {
  display: flex;
  border: 1px solid #6495ed;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  background-color: #6495ed;
}

.btn-add {
  display: flex;
  border: 1px solid #6495ed;
  width: 200px;
  height: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  background-color: #6495ed;
}

.current-chapter {
  color: gray;
  font-size: 12px;
  font-weight: 200;
}

.progress > div {
  margin-bottom: 10px;
}

.number-chapter {
  font-size: 14px;
}

.item-container:hover {
  border: 1px solid #6495ed;
}

.action > div {
  cursor: pointer;
}
