.btn-submit {
  display: flex;
  border: 1px solid blue;
  width: 15vw;
  margin-left: 10px;
  margin-top: -20px;
  height: 40px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  background-color: blue;
}

input {
  display: flex;
  flex: 1;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
}

input:nth-child(1) {
  flex: 1;
  max-width: 40rem;
}

.form {
  display: flex;
  width: 87vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form-title {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: gray;
}

.book-form {
  align-items: center;
}
